.buton{
   
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;   
}

.botao{
    display: flex;
    justify-content: center;
}

.buton {
    background-color: #175996; /* cor de fundo do botão */
    border: none; /* remove a borda padrão do botão */
    color: rgb(255, 255, 255); /* cor do texto */
    padding: 15px 32px; /* tamanho do botão */
    text-align: center; /* centraliza o texto */
    text-decoration: none; /* remove a sublinhado padrão */
    font-size: 16px; /* tamanho da fonte */
    cursor: pointer; /* muda o cursor quando passa sobre o botão */
    transition: 0.5s ease /* define a transição */
}

.buton:hover {
    background-color: rgb(50, 60, 97); /* cor de fundo do botão quando passa o mouse por cima */
    color: rgb(255, 255, 255);
    font-size: 18px;
    
  
}


